# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#CodeBlocks
*.layout
*.cbp
*.depend

#Atom
.clang_complete

obj/*
!obj/.gitkeeper
include/parser.tab.h
include/avl.h
include/arraylist.h
include/darray.h
include/filebuffer.h
include/stack.h
